.LeftSideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.LeftSideBar a{
    padding:  .5rem;
}

.LeftSideBar a.active{
    color: rgb(234, 221, 255);
}