
.blog-wrapper{
  display: grid;
  grid-template-areas: 
    "h h h"
    "l m r"
    "f f f";

  grid-gap: 9px;
  grid-template-rows: 14vh 74vh 9vh;
  grid-template-columns: 14% 69% 14%;
  background-color: rgb(238, 245, 253);
 
}

.Header,
.LeftSideBar,
.Main,
.RightSideBar,
.Footer{
  background-color: rgb(246, 255, 255);
}


.Header{
  grid-area: h;
}

.Header img{
  height: 3em;
  margin: 1em;
}

.MainHeader{
  height: 10em;
  
}

.MainHeader img{
  height: inherit;
  width: 100%;
  margin-left: 6px;
  padding: 0;
}

.LeftSideBar{
  grid-area: l;
}

.Main{
  grid-area: m;
}

.RightSideBar{
  grid-area: r;
}

.Footer{
  grid-area: f;
}