
.blog-wrapper{
  display: grid;
  grid-template-areas: 
    "h h h"
    "l m r"
    "f f f";

  grid-gap: 9px;
  grid-template-rows: 14vh 74vh 9vh;
  grid-template-columns: 14% 69% 14%;
  background-color: rgb(238, 245, 253);
 
}

.Header,
.LeftSideBar,
.Main,
.RightSideBar,
.Footer{
  background-color: rgb(246, 255, 255);
}


.Header{
  grid-area: h;
}

.Header img{
  height: 3em;
  margin: 1em;
}

.MainHeader{
  height: 10em;
  
}

.blog-wrapper-content{
  background-color: rgb(234, 221, 255);
}

.MainHeader img{
  height: inherit;
  width: 100%;
  margin-left: 6px;
  padding: 0;
}

.LeftSideBar{
  grid-area: l;
}

.Main{
  grid-area: m;
}

.RightSideBar{
  grid-area: r;
}

.Footer{
  grid-area: f;
}

ul, li, a {list-style-type: none;}

li {padding-left: 2em; text-indent: -2em;}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            rgb(25, 119, 241);
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;

  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  background-color: rgba(86, 90, 92, 0.959);
  color:            rgb(161, 193, 235);
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  color:            rgba(225, 255, 56, 0.877);
  } 